{{ "class " }}{{ class.name }}
{%- for base in class.bases -%}
{% if loop.first %}{{ "(" }}{% endif %}
{{- base -}}
{% if loop.last %}{{ ")" }}{% else %}{{ ", " }}{% endif %}
{% endfor -%}
{{- ":\n" -}}

{% filter indent(width=4, first=True) -%}
    {% if not class.docstring and not class.members -%}{{ " ..." }}{% endif -%}
    {# Docstring -#}
    {% if class.docstring -%}
        {{ '"""' -}}
        {{ class.docstring.value -}}
        {{ '"""\n' -}}
    {% endif -%}

    {# Members -#}
    {% with object = class -%}
        {% include "base/_members.pyi.jinja2" with context -%}
    {% endwith -%}
{% endfilter %}
