# pyright: reportMissingModuleSource=false
{% block imports %}
from __future__ import annotations

import enum
from typing import *

{% for submodule in module.modules.values() -%}
import {{ submodule.canonical_path }}
{% endfor %}

{% if module.name != "__init__" %}
if TYPE_CHECKING:
    # fix some namespace issues for submodules
    {% if module.parent -%}
    import {{ module.parent.canonical_path }}
    {% endif -%}
    import {{ module.canonical_path }}
{%  endif %}
{% endblock %}

{% block members %}
{% with object = module %}
    {%- include "base/_members.pyi.jinja2" with context %}
{% endwith %}
{% endblock %}
