{{ parameter.name -}}
{# Annotations #}
{%- if parameter.annotation -%}
{{ ' : ' }}{{- parameter.annotation -}}
{%- endif -%}
{# Default Value #}
{%- if parameter.default -%}
{{ ' = ' }} {{ parameter.default -}}
{%- endif -%}
