
################
# Python
__pycache__/
*.py[cod]
*.swp
*.*~
*~
.mypy_cache


################
# Code Editors
*.sublime-workspace
.vscode


################
# Local Dev/Build Files
venv
typings/*


################
# Config Files
.env
