
################
# Python
__pycache__/
*.py[cod]
*.swp
*.*~
*~
.mypy_cache


################
# Code Editors
*.sublime-workspace
.vscode


################
# Local Dev/Build Files
node_modules
venv
_src
dist
.deploy/
*.webp
out.py[i]
typings/*


################
# Config Files
.env
tsconfig.tsbuildinfo
