class {{ class.name }}:
    {% if not class.members %}{{ "..." }}{% endif %}

{% filter indent(4, True) -%}
    {% for function in class.functions.values() -%}
        {% include "function.pyi.jinja2" with context -%}
        {{ "\n" -}}
    {% endfor -%}
{% endfilter %}
