{{ "class " }}{{ class.name }}
{%- for base in class.bases -%}
{% if loop.first %}{{ "(" }}{% endif %}
{{- base -}}
{% if loop.last %}{{ ")" }}{% else %}{{ ", " }}{% endif %}
{%- endfor -%}
{{- ":" }}
{% if not class.members %}
    {{ "..." }}
{%- else %}
    {% filter indent(width=4) %}
        {%- with object = class %}
            {%- include "_members.pyi.jinja2" with context %}
        {%- endwith %}
    {% endfilter %}
{% endif %}