{% for decorator in function.decorators %}
{{ "@" }}{{ decorator.value }}
{% endfor %}
{{ 'def ' -}}{{ function.name -}}{{ '(' -}}
{%- for parameter in function.parameters -%}
    {%- include "parameter.pyi.jinja2" with context -%}
    {% if not loop.last %}
        {{- ", " -}}
    {% endif %}
{%- endfor -%}
{{ ")" }}
{%- if function.returns -%}
{{ ' -> ' -}}{{ function.returns -}}{{ '' -}}
{%- endif -%}
{{ ': ...' -}}

