"""{{module.docstring.value}}
"""

from __future__ import annotations
from typing import Union, Generator, Any, Optional
{% if module.name != "__init__" %}
import typing
if typing.TYPE_CHECKING:
    {% if module.parent -%}
    import {{ module.parent.canonical_path }}
    {% endif -%}
    import {{ module.canonical_path }}
{%  endif %}

{% for class in module.classes.values() -%}
    {% include "class.pyi.jinja2" with context %}
{% endfor %}

{% for function in module.functions.values() -%}
    {% include "function.pyi.jinja2" with context %}
{% endfor %}
