"""{{module.docstring.value}}
"""
from __future__ import annotations

import enum
from typing import *

{% if module.name != "__init__" %}
if TYPE_CHECKING:
    {% if module.parent -%}
    # fix some namespace issues for submodules
    import {{ module.parent.canonical_path }}
    from  {{ module.parent.canonical_path }} import *
    {% endif -%}
    import {{ module.canonical_path }}
{%  endif %}

{% for class in module.classes.values() -%}
    {% include "class.pyi.jinja2" with context %}
{% endfor %}

{% for function in module.functions.values() -%}
    {% include "function.pyi.jinja2" with context %}
{% endfor %}
